<!--
  Author:    Mason Austin
  Partner:   None
  Date:      8/28/2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Mason Austin - This work may not be copied for use in Academic Coursework.
  I, Mason Austin, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.
  File Contents
    Jim's application page. This was made in class.
-->

<div id="applicant_name" class="default_header navPaddingS">
    <h1> Application for Jim</h1>
    <p> u0123456 </p>
    <figure id="applicants_photo">
        <img class="rightbox" src="~/images/jim.jpg" alt="Picture of Jim from the Office" />
    </figure>
</div>

<div id="main_info">
    <ul class="infolist">
        <li> Contact: jim@jim.com </li>
        <li> Phone: 801-123-1234 </li>
        <li> Linked In : <a href="https://linkedin"> Linked In</a></li>
        <li> Resume: <a href="~/images/jim.pdf">Link</a></li>
    </ul>
</div>
