<!--
  Author:    Mason Austin
  Partner:   None
  Date:      9/5/2021
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Mason Austin - This work may not be copied for use in Academic Coursework.

  I, Mason Austin, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source.  Any references used in the completion of the assignment are cited in my README file.

  File Contents:
    Shows all the relevant data to an applicant with a 3 column format.
    First column is the picture and identifying information
    Second column is information that is relevant to being a TA
    Third column is just the personal statement
-->

<div class="container">
    <div class="row" id="applicantHomeHeader">
        <h1 class="pageTitle col-12">My Application<img class="ULogo" src="~/images/Ulogo.png" /> <br /></h1>
        <p class="col-12"><button type="button" class="btn btn-primary btn-red" id="applicationEditButton" href="~/Applications/Edit">Edit Application</button></p>
    </div>

    <div class="row" id="applicantData">
        <div class="col-sm-12 col-md-4" id="applicantIdentificationColumn">
            <figure id="applicants_photo">
                <img class="applicantPhotoStyle" src="~/images/default.png" alt="Default Profile Picture" />
            </figure>

            <dl id="applicantIdentification">
                <dt>First Name</dt>
                <dd>Jeff</dd>
                <dt>Last Name</dt>
                <dd>Smith</dd>
                <dt>uID</dt>
                <dd>u123456</dd>
                <dt>Email</dt>
                <dd>u123456@utah.edu</dd>
                <dt>Phone Number</dt>
                <dd>123-456-7890</dd>
            </dl>
        </div>
        <div class="col-sm-12 col-md-3"  id="applicantTADataColumn">
            <dl class="dl-horizontal" id="applicantTAData">
                <dt>Prior TA</dt>
                <dd>
                    <ul class="list-group">
                        <li class="list-group-item">CS1400</li>
                        <li class="list-group-item">CS2420</li>
                    </ul>
                </dd>
                <dt>Interested In</dt>
                <dd>
                    <ul class="list-group">
                        <li class="list-group-item">CS1400</li>
                        <li class="list-group-item">CS2420</li>
                        <li class="list-group-item">CS3500</li>
                        <li class="list-group-item">CS4400</li>
                    </ul>
                </dd>

                <dt>Semesters Completed</dt>
                <dd>11</dd>
                <dt>CS Status</dt>
                <dd>Major</dd>
                <dt>Student Status</dt>
                <dd>Graduate</dd>
                <dt>GPA</dt>
                <dd>4.0</dd>
            </dl>
        </div>
        <div class="col-sm-12 col-md-5" id="applicantStatementColumn">
            <dl class="dl-horizontal" id="applicantStatement">
                <dt>Personal Statement</dt>
                <dd>
                    I have high ambitions to make it into the academic field and to be a leader in Computer Science research. The reason why I have the passion that I do for this field is because of the amazing professors that I have had throughout my years at the U. I believe I have exactly what it takes for a TA position. I already have experience as a tutor and would love to use my skills to help my fellow students. <br />
                </dd>
            </dl>
        </div>
    </div>
</div>